// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)
$primary: #fd7e14;
$secondary: #B6AC97;
$dark: #653208;
$black: #292222;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here